/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #5a5a5a;
}
body {
  background-color: #070707 !important;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-para {
  font-size: 23px;
  font-weight: 700;
}
.form-items {
  width: 30%;
  height: auto;
}
label {
  font-size: 13px;
  font-family: sans-serif;
  margin-bottom: 7px;
}
input {
  max-width: 100%;
  height: 50px;
  border-radius: 16px !important;
  color: #000000 !important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
}
input:focus {
  box-shadow: none !important;
}
#sig-btn {
  margin-top: 100px !important;
  border-radius: 15px;
  font-size: 16px;
  background-color: #393939 !important;
  font-family: sans-serif;
  border: none;
  height: 50px !important;
}
#sig-btn:focus {
  box-shadow: none;
}
input::placeholder {
  color: rgb(185, 179, 179) !important;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 15px;
}
/*  */
@media only screen and (max-width: 900px) {
  .form-items {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .form-items {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .form-items {
    width: 100%;
  }
}
