/** @format */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800&family=Pompiere&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.logo {
  width: 200px;
}

.main-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(./img/230919-russel-brand-mb-0831-921118.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  z-index: -1;
}

#navbar-container li a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 18px;
}
.now {
  color: grey !important;
  cursor: not-allowed;
}
.login a {
  color: grey !important;
}
.discover {
  color: white !important;
  margin-right: 85px !important;
}
.search {
  background-image: url(./img/search.png);
  background-repeat: no-repeat;
  background-position: top 50px;
  height: 45px;
  background-position: left 10px center;
  background-color: rgba(41, 42, 41, 0.5) !important;
  width: 335px !important;
  border: none !important;
  color: black !important;
  margin-right: 100px;
}
.search:focus {
  box-shadow: none !important;
}
.dark {
  margin-right: 20px;
}
.dark img {
  width: 38px;
  vertical-align: text-top;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
.btns-container {
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.btns-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.btns-container a {
  background-color: #fff;
  margin-right: 10px;
  border-radius: 10px;
  /* opacity: 0.04; */
}
.btns-container a:focus {
  box-shadow: none !important;
  background-color: #618dc5 !important;
  color: white !important;
}

.all {
  background-color: #618dc5 !important;
  color: white !important;
}
/* End of Header and navbar */
/*  */
.new {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 700;
}
.new-content {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  line-height: 32px;
  width: 500px;
}
.bg-txt h1 {
  padding-left: 150px;
  z-index: 1;
  margin-top: 30px;
  position: fixed;
  bottom: -130px;
  z-index: -1;
  font-size: 360px;
  letter-spacing: 60px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  color: rgba(201, 182, 182, 0.2);
}
/*  */
.news {
  padding: 90vh 20px 0;
}
.stations {
  color: rgb(128, 128, 128);
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
}
.business {
  width: 175px;
  height: 195px;
  border-radius: 8px;
  opacity: 0.5;
}
.img-container {
  position: relative;
  background-color: #00000050;
}

.pl-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  background-blend-mode: multiply;
}
.business-para {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  z-index: 1;
}
.sand-para {
  position: absolute;
  bottom: -10px;
  right: 5px;
  color: #f7ac0b;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  z-index: 1;
}
@media only screen and (max-width: 1360px) {
  #navbar-container li a,
  .dark {
    font-size: 19px;
    margin-right: 13px !important;
  }
  .search,
  .discover {
    margin-right: 65px;
  }
}
@media only screen and (max-width: 1200px) {
  #navbar-container li a {
    font-size: 17px;
    margin-right: 10px !important;
  }
  .search {
    margin-right: 10px;
    width: 280px !important;
  }
  .discover {
    margin-right: 25px;
  }
  .dark {
    margin-right: 0;
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .search {
    width: 220px !important;
  }
  #navbar-container li a {
    font-size: 14px;
  }
  .discover {
    margin-right: 15px;
  }
  .logo {
    width: 120px;
  }
}
@media only screen and (max-width: 800px) {
  .search {
    width: 190px !important;
  }
  .discover {
    margin-right: 10px;
  }
}
