/** @format */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800&family=Pompiere&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.logo {
  width: 200px;
}
#changer {
  height: 100%;
  width: 100%;
}
.main-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(./img/230919-russel-brand-mb-0831-921118.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  z-index: -1;
}

#navbar-container li a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 18px;
}
.now {
  color: grey !important;
  cursor: not-allowed;
}
.login a {
  color: grey !important;
}
.discover {
  color: white !important;
  margin-right: 85px !important;
}
.search {
  background-image: url(./img/search.png);
  background-repeat: no-repeat;
  background-position: top 50px;
  height: 45px;
  background-position: left 10px center;
  background-color: rgba(41, 42, 41, 0.5) !important;
  width: 335px !important;
  border: none !important;
  color: black !important;
  margin-right: 100px;
}

.search:focus {
  box-shadow: none !important;
}
.dark {
  margin-right: 20px;
}
.dark img {
  width: 38px;
  vertical-align: text-top;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
.btns-container {
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.btns-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.btns-container a {
  background-color: #ebebeb;
  margin-right: 10px;
  border-radius: 10px;
  /* opacity: 0.04; */
}
.btns-container a:focus {
  box-shadow: none !important;
  background-color: #618dc5 !important;
  color: white !important;
}

.all {
  background-color: #618dc5 !important;
  color: white !important;
}
/* End of Header and navbar */
/*  */
.new {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 700;
}
.new-content {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  line-height: 32px;
  width: 500px;
}
.bg-txt h1 {
  padding-left: 150px;
  z-index: 1;
  margin-top: 30px;
  position: fixed;
  bottom: -130px;
  z-index: -1;
  font-size: 360px;
  letter-spacing: 60px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  color: rgba(201, 182, 182, 0.2);
}
/*  */
.news {
  margin-top: 36rem;
}
.stations {
  color: rgb(128, 128, 128);
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  /* padding-left: 20px; */
}
.business {
  width: 175px;
  height: 195px;
  border-radius: 8px;
  opacity: 0.5;
}
.img-container {
  position: relative;
  background-color: #00000050;
  border-radius: 13px;
}

.pl-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  background-blend-mode: multiply;
}
.business-para {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  z-index: 1;
}
.sand-para {
  position: absolute;
  bottom: -10px;
  right: 5px;
  color: #f7ac0b;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  z-index: 1;
}
.crime-part {
  display: flex;
  overflow-x: auto;
}
.crime-part::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.crime-container {
  position: relative;
  width: 320px;
  height: 332px;
  cursor: pointer;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 91%;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.4);
  mix-blend-mode: multiply;
}
.crime-container img {
  max-width: 300px;
}
#junkie {
  border-radius: 13px;
}
.hover-container {
  background-color: #003e60;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 13px;
  display: none;
}

.pl-img {
  position: absolute;
  transform: translate(24%, 21%);
}
.us-para {
  font-family: sans-serif;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  margin-top: 6rem;
  margin-left: 1rem;
}
.what-para {
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  margin-top: 2rem;
  margin-left: 1rem;
}
.hour-para {
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 1rem;
}
.info-container {
  margin-left: 1rem;
  margin-top: 2.5rem;
  display: flex;
}

.info-img {
  filter: invert(84%) sepia(94%) saturate(0%) hue-rotate(349deg)
    brightness(108%) contrast(107%) !important;
}
.message-img {
  opacity: 0.3;
}
.crime-container:hover .hover-container {
  display: block;
}
/*  */
.moreImg-container {
  position: relative;
  width: 100px;
  height: 100px;
}
.wtf-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 13px;
  cursor: pointer;
}
.wtf-img {
  border-radius: 13px;
}
.more-item {
  display: flex;
  overflow-x: auto;
}
.more-item::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Start of top-news Section */
.top {
  position: relative;
  width: 309px;
  height: 120px;
  padding: 0.5rem;
  border-radius: 13px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgb(0 0 0/6%);
  margin-bottom: 30px;
  cursor: pointer;
}
.top-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 13px;
  background-color: #006197;
  display: none;
}
.fox-para,
.time-para {
  color: rgb(155, 155, 155);
  cursor: pointer;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.china-para,
.even-para {
  margin-top: -10px;
  max-width: 212px;
  color: rgb(40, 40, 40);
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 0;
}
.bear-img {
  border-radius: 13px;
}
.even-para {
  color: #fff !important;
  margin-top: 0;
}
.hover-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.time-para {
  color: white;
  margin-right: 60px;
}
.top-img {
  display: flex;
}
.alarm-clock {
  opacity: 0.4;
}
.top:hover .top-hover {
  display: block;
}
.foryou {
  display: flex;
  /* justify-content: space-around; */
}
/* Start of Up to date Section */
.cricket {
  position: relative;
  width: 309px;
  height: 300px;
  padding: 1rem;
  background: url(./img/cricket.webp) no-repeat center;
  background-size: cover;
  border-radius: 13px;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  /* opacity: 0.04; */
}

.new-para {
  color: #fff;
  font-size: 13px;
  font-family: sans-serif;
  cursor: default;
}
.india-para {
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}
.guardian-para {
  margin-top: -10px;
  font-size: 15px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
}
.crk-logo {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.svg-container {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.cricket:hover {
  background-image: none;
  background-color: #006197;
}
.cricket:hover .hide {
  display: none;
}
.cricket:hover .svg-container {
  display: block;
}
/* End Of Up to Date Section */
/* End of top-news Section */
@media only screen and (max-width: 1360px) {
  #navbar-container li a,
  .dark {
    font-size: 19px;
    margin-right: 13px !important;
  }
  .search,
  .discover {
    margin-right: 65px;
  }
}
@media only screen and (max-width: 1200px) {
  #navbar-container li a {
    font-size: 17px;
    margin-right: 10px !important;
  }
  .search {
    margin-right: 10px;
    width: 280px !important;
  }
  .discover {
    margin-right: 25px;
  }
  .dark {
    margin-right: 0;
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .search {
    width: 220px !important;
  }
  #navbar-container li a {
    font-size: 14px;
  }
  .discover {
    margin-right: 15px;
  }
  .logo {
    width: 120px;
  }
}
@media only screen and (max-width: 800px) {
  .search {
    width: 190px !important;
  }
  .discover {
    margin-right: 10px;
  }
}
